@import "../navbar/navbar";
@import "../header/header";
@import "../aside/aside";
@import "../articl/article";
@import "../nav/nav";
@import "../section/section";
@import "../footer/footer";



@font-face {
    font-family: Poppins;
    src: url(../fonts/Poppins-Medium.ttf);
  }
  @font-face {
    font-family: Poppins;
    src: url(../fonts/Poppins-Bold.ttf);
  }
  @font-face {
    font-family: Poppins;
    src: url(../fonts/Poppins-Regular.ttf);
  }
  @font-face {
    font-family: Montserrat;
    src: url(../fonts/Montserrat-Bold.ttf);
  }
  @font-face {
    font-family: Montserrat;
    src: url(../fonts/Montserrat-Medium.ttf);
  }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
  
}